<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Spring Security Example</title>
</head>
<body>
    <h1>Welcome!</h1>
    <!-- File Upload Form -->
    <h3>Upload a file:</h3>
    <form  enctype="multipart/form-data" th:action="@{/upload}" method="post">
        <input type="file" name="file" />
        <button type="submit">Upload</button>
    </form>
    <div th:if="${sigla != null}">
        <h3>Sigla Extracted:</h3>
        <ul>
            <li th:each="item : ${sigla}" th:text="${item}">Sigla item</li>
        </ul>
    </div>


</body>
</html>
