<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Spring Security Example</title>
</head>
<body>
    <h1>Welcome!</h1>
    <!-- File Upload Form -->
    <h3>Upload a file:</h3>
    <form method="post" action="/upload" enctype="multipart/form-data">
        <label for="file">Wybierz plik:</label>
        <input type="file" id="file" name="file" accept="image/*" required />
        <button type="submit">Wyślij</button>
    </form>
    <div th:if="${sigla != null}">
        <h3>Sigla Extracted:</h3>
        <ul>
            <li th:each="item : ${sigla}" th:text="${item}">Sigla item</li>
        </ul>
    </div>

    <div th:if="${passages != null and !passages.isEmpty()}">
        <h3>Tekst biblijny</h3>
        <div th:each="passage : ${passages}">
            <h4 th:text="${passage.originalReference}">Odniesienie</h4>
            <div th:if="${passage.hasError()}">
                <p th:text="${passage.errorMessage}" style="color: darkred;">Brak danych</p>
            </div>
            <ul th:if="${!passage.hasError()}">
                <li th:each="verse : ${passage.verses}">
                    <strong th:text="${verse.verseNumber} + '.'">1.</strong>
                    <span th:text="${verse.text}">Tekst wersetu</span>
                </li>
            </ul>
        </div>
    </div>

</body>
</html>
